<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/jquery.dataTables.css">
    <link rel="stylesheet" href="/toastr.css">

    <title>services List</title>
</head>
<body>
<div class="container wellcome-container">
    <div class="row">
        <h2 class="col-12 text-center mb-5">
            Services List:
        </h2>
        <div class="row col-12 d-flex align-content-center justify-content-center">
            <table id="example" class="display col-12" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% services.forEach((val, index)=>{
                %>
                    <tr>
                        <td>
                            <a href="/admin/services/<%= val.id %>">
                                <%= val.id %>
                            </a>
                        </td>
                        <td>
                            <a href="/admin/services/<%= val.id %>">
                                <%= val.name %>
                            </a>
                        </td>
                        <td>
                            <a href="/admin/services/<%= val.id %>">
                                <%= val.price %>
                            </a>
                        </td>

                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#delete<%= index %>">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <div class="modal fade" id="delete<%= index %>" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Create history</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" action="/admin/services/delete">
                                    <div class="modal-body">
                                        Are you sure about removing <%= val.name %>?
                                        <input type="hidden" name="id" value="<%= val.id %>">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <%
                }) %>
                </tbody>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
            </table>
            <button type="button" class="btn btn-primary btn-block mt-4" data-toggle="modal"
                    data-target="#exampleModal">
                create service
            </button>
            <a href="/admin" class="btn btn-warning btn-block">
                back
            </a>
        </div>
    </div>
</div>

<script src="/jquery.min.js"></script>
<script src="/toastr.min.js"></script>
<script type="text/javascript" charset="utf8" src="/jquery.dataTables.js"></script>
<script src="/bootstrap.min.js"></script>
<scipt src="/bjq.min.js"></scipt>
<script src="/bootstrap.bundle.min.js"></script>
<script src="/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            order: [[0, 'desc']],
        });
    });
</script>
<% if(isError){ %>
    <script>
        toastr["error"]("<%= error %>", "error")
    </script>
<%
} %>

<% if(isMessage){ %>
    <script>
        toastr["success"]("<%= message %>", "message")
    </script>
<%
} %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create history</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/admin/services/create">
                <div class="modal-body">
                    <div class="form-group col-12">
                        <label for="exampleInputEmail1">Service name</label>
                        <input type="text" name="name" class="form-control col-12" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="service name" required>
                    </div>
                    <div class="form-group col-12">
                        <label for="exampleInputEmail1">Service Price</label>
                        <input type="number" name="price" class="form-control col-12" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="service price" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>